<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if session.get('username') %}
                <li class="navbar-nav m-1">
                    <a class="btn btn-primary" aria-current="page" href="{{ url_for('attendance.home.show_home') }}">ホーム</a>
                </li>
                <form class="navbar-nav m-1" action="{{ url_for('session.logout.post_logout') }}" method="POST">
                    <input type="hidden" name="sessionID" value="{{ g.session_id }}">
                    <button class="btn btn-primary" type="submit">ログアウト</button>
                </form>
                <li class="navbar-nav m-1">
                    <a class="btn btn-danger" href="{{ url_for('session.unregister.show_unregister') }}">アカウント削除</a>
                </li>
                {% else %}
                <li class="navbar-nav m-1">
                    <a class="btn btn-primary" aria-current="page" href="/">ログイン</a>
                </li>
                <li class="navbar-nav m-1">
                    <a class="btn btn-primary" href="{{ url_for('session.register.show_register') }}">アカウント登録</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>