<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-nav m-1">
                    <a class="btn btn-primary" aria-current="page" href="/home/">Home</a>
                </li>
                {% if g.login_flag %}
                <form class="navbar-nav m-1" action="{{ url_for('logout.post_logout') }}" method="POST">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
                <li class="navbar-nav m-1">
                    <a class="btn btn-danger" href="{{ url_for('unregister.show_unregister') }}">Unregister</a>
                </li>
                {% else %}
                <li class="navbar-nav m-1">
                    <a class="btn btn-primary" href="{{ url_for('register.show_register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>