{% extends "layout.html" %}


{% block body %}
<form class="py-4" action="{{ url_for('register.post_register') }}" method="POST">
    <h3>Register Form</h3>
    <div class="mb-3">
        <label for="usernameForm" class="form-label fs-4">username</label>
        <input type="text" name="username" class="form-control" id="usernameForm" required>
    </div>
    <div class="mb-3">
        <label for="passwordForm" class="form-label fs-4">Password</label>
        <input type="password" name="password" class="form-control" id="passwordForm"
            aria-describedby="confirmPassword" required>
        <div id="confirmPassword" class="form-text">確認のためもう一度入力願います.</div>
        <input type="password" name="passwordConfirm" class="form-control" id="passwordForm" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}